<div>
    <h1>Log In with GitHub!!</h1>
    <a href="/api/sessions/github"> <button>Github Login</button> </a>
    <br>
    <h2>No Github login:</h2>
    <p>¿Not registered? <a href="/users/register">Register</a></p>
    <p>¿Already got an account? <a href="/users/login">Login</a></p>
</div>