<div>
    <h1>
        Login Here
    </h1>
    <form id="loginForm">
        <label >Insert Email</label>
        <input type="text" name="email">
        <br>
        <label>Create Password</label>
        <input type="password" name="password" >
        <input type="submit">
    </form>
    <p>Register Text <a href="/users/register">Register Here</a></p>
    <p>Do you have a GitHub account? <a href="/github/login">Login here with GitHub</a></p>


</div>
<script src="/js/login.js"></script>