<div>
  <h1>Registration</h1>
  <form id="registration">
    <label>First Name</label>
    <input name="first_name">
    <br>
    <label>Last Name</label>
    <input name="last_name">
    <br>
    <label>Email</label>
    <input name="email">
    <br>
    <label>Age</label>
    <input name="age">
    <br>
    <label>Password</label>
    <input type="password" name="password" >
    <br>
    <input type="submit">
  </form>
  <p>Already registered? <a href="/users/login">Log in here</a></p>
</div>
<script src="/js/register.js"></script>